@use '../../styles/variables' as *

.card-feed
    display: flex
    flex-direction: column
    gap: 32px
    justify-content: space-between
    align-items: baseline
    width: 100%
    padding: 16px

    .card-feed-book
        width: 100%
        padding-bottom: 72px

        .card-feed-book-container
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: space-between
            gap: 12px
            background-color: $white-color
            border-radius: 16px
            padding: 16px
            position: relative
            height: 115px
            width: 100%
            filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25))
            z-index: 1

            .card-feed-book-info
                display: flex
                flex-direction: column
                gap: 8px
                justify-content: flex-end
                padding-left: 48px
                margin-left: 60px

                p
                    font-weight: 400
                    color: $gray-color
                    font-size: $font-size-main

                .card-feed-book-info-title
                    display: flex
                    flex-direction: column
                    gap: 4px
                    flex: 1

                    h2
                        font-size: $font-size-main
                        font-weight: 600
                        color: $primary-color

            .card-feed-book-img
                position: absolute
                width: 80px
                border-radius: 5px
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
                top: -24px

            .card-feed-book-add
                background-color: $primary-color
                border-radius: 50%
                width: 32px
                height: 32px
                color: $white-color
                border: none
                position: absolute
                right: 16px
                top: 8px
